/*
 * @Author: Tim Koepsel 
 * @Date: 2016-11-16 06:02:01 
 * @Last Modified by: Tim Koepsel
 * @Last Modified time: 2016-11-16 06:03:08
 */


/*
@import url('//cdnjs.cloudflare.com/ajax/libs/summernote/0.5.1/summernote.css');

.my-css {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  background-color: yellow;
}
*/